* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://a.cdn-hotels.com/gdcs/production0/d1589/6d9eed40-c31d-11e8-9739-0242ac110006.jpg);
    background-size: cover;
    font-size: 16px;
    text-shadow: 3px 4px 5px black;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');